* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif; 
}

/* Projects */
.projects {
    background-color: #e8e8e8;
    padding: 50px 0;
    min-height: 100vh;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    color: #2D292A;
}

.project {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.project p {
    font-size: 1rem;
    color: #777;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #B02F2F;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #B02F2F;
}

@media (max-width: 768px) {
    .project {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .project {
        flex-basis: 100%;
    }
}